.header{
    padding: 20px 0;
    background: rgb(240, 229, 215);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.header__wrap{
    max-width: 1200px; /* Пример максимальной ширины контейнера, которая может ограничивать .header__wrap */
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn {
}
.logo{
    margin: 0 25px;
}
.menu {
    padding:10px 15px ;
    width: 100%;
}
.main-nav ul {
            list-style: none;
            justify-content: space-between;
            display: flex;
            margin: 0;
            padding: 0;
}   
.main-nav li svg{
    margin-left: 5px;
}
.main-nav a{
    text-decoration: none;
    color: #3e3001;
    font-weight: 800;
    transition: color 0.5s ease;
}

.main-nav a:hover {
    color: #997030;
}

@media screen and (max-width: 768px){
    .main-nav ul{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
       
    }
    .main-nav li{
        margin-bottom: 20px;
    }

    .header__menu-btn {
	display: flex;
	justify-content: flex-end;
}


/* Гамбургер иконка */
.menu-btn {
    margin-left: 15px;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: rgba(164, 147, 32, 0.749);
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}

}

